.tt__box--header {
    display: flex;
    /* background-color:#000000; */
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

select {
    color: black;
}

.tt__box--header img {
    width: 200px;
    height: auto;
}

.tt__box--header h1 {
    text-align: center;
}

h1 { 
    text-align: center;
}

.home-page {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    display: flex;
    justify-content: center;
}


.home-start-button {
    cursor: pointer;
    height: 400px;
    width: auto;
}

.main-page-button.span { 
    position: relative; 
}

.main-page-button.pressed { 
    padding-top: 3px;
    transform: translateY(4px);
    box-shadow: 0 4px 0 rgb(183,0,0),
      0 8px 6px rgba(0,0,0,.45);
  }

.play-button:hover {
    background-color: white;
    color: hotpink;
}
  
.play-button {
    cursor: pointer; 
    border: solid white 3px;
    color: white;
    background-color: hotpink;
    overflow: hidden; 
    border-radius: 20px;
    padding: 10px;
    /* margin: 30px; */
    font-weight: bolder;
}

.custom-select {
    display: flex;
    justify-content: center;
    width: 300px;
    position: relative;
    font-family: Arial;
}


.custom-select select {
display: none; /*hide original SELECT element: */
}

.select-selected {
background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
position: absolute;
content: "";
top: 14px;
right: 10px;
width: 0;
height: 0;
border: 6px solid transparent;
border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
border-color: transparent transparent #fff transparent;
top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
color: #ffffff;
padding: 8px 16px;
border: 1px solid transparent;
border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
cursor: pointer;
}

/* Style items (options): */
.select-items {
position: absolute;
background-color: DodgerBlue;
top: 100%;
left: 0;
right: 0;
z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
display: none;
}

.select-items div:hover, .same-as-selected {
background-color: rgba(0, 0, 0, 0.1);
}

.custom-select {
    color: black;
}

.homer--img {
    width: 400px;
    height: auto;
    padding-top: 30px;
}

.homer--img--block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}
.homer--img--block h1 {
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    /* padding-top: 20px; */
    background-color: hotpink;
    border: solid white 4px;
    /* padding: 5px; */
    /* margin: 30px; */
    border-radius: 40px;
    padding: 15px;
    width: 350px;
}

.homer--img--point {
    width: 300px;
    height: auto;
    padding-top: 30px;
}
