p {
    cursor: pointer;
}

p:hover{
    background-color: #F3F3F3;
}

p:active{
    color: rgb(0, 255, 21);
    cursor: pointer;
}

:root {
    --primary: #FFCE00;
    --secondary: #FE4880;
    --dark: #212121;
    --light: #F3F3F3;
}

* {
    margin: 0;
    padding: 0;
    justify-content: center;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    min-height: 100vh;
}

.card {
    margin: 100px auto 0;
    width: 300px;
    height: 400px;
    perspective: 1000px;
}

.card__inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card__inner[flip='1'] {
    /* transform: rotateY(180deg); */
    animation: flip 5s 1;
}

@keyframes flip {
    40% {
        transform: rotateY(180deg);
    }
    /* 50% {
        transform: rotate3d(1, 1, 1, 180deg)
    } */
    60% {
        transform: rotateY(180deg);
    }
}

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card__face--front {
    background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 5px rgb(49, 49, 49); 
}

.card__face--front h2 {
    color: #FFF;
    font-size: 32px;
}

.card__face--back {
    /* background-color: var(--light);  */
    transform: rotateY(180deg);
}

.card__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card__header {
    position: relative;
    padding: 50px 30px 40px;
}

.card__header:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    /* border-radius: 0 0 50% 0; */
    background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%);
}

.pp {
    display: block;
    width: 90px;
    height: 90px;
    margin: 0 auto 30px;
    border-radius: 50%;
    background-color: #fff;
    border: 5px solid #fff;
    object-fit: cover;
}

.card__header h2 {
    color: rgb(255, 255, 255);
    font-size:  16px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

.card__body {
    background-color: var(--light);
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.card__body h3 {
    color: var(--dark);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.card__body p {
    color: var(--dark);
    font-size: 12px;
    line-height: 1.5;
}

.card_details p {
    color: white;
}

.char__bio {
    font-size: 12px;
    word-wrap: normal;
    padding: 0 30px;
}

.card__display {
    display: flex;
    flex-direction: row;
}

.card__details__flex {
    display: flex;
}

.card-box {
    display: flex;
    justify-content:center;
}

.card-item {
    padding: 30px;
}

.card-counters {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.player-1-card {
    padding-right: 400px;
}

.player-2-card {
    padding-right: 400px;
}